.section-home {
  .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .data-card {
    cursor: pointer;
    .box-image {
      height: 380px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
